# 商用程式設計：第六之一章　DataFrame loc, iloc
## Chap 6-1(109/05/12)
* DataFrame比mu,py ndarry(element-wise)提供資料統整的功能。
* DataFrame通常為2維資料。
* 橫的為列(索引index)，直的為欄(columns)。

In [3]:
#隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4), index = list('abcd'), columns = list('ABCD'))
frame

          A         B         C         D
a  0.379734  0.037716  0.469112  0.599822
b  0.051527  0.656996  0.038989  0.929538
c  0.102578  0.873150  0.653418  0.444134
d  0.095277  0.381300  0.045123  0.316019

In [11]:
#loc用欄位來找出DataFreme的資料
#iloc用索引來找出DataFreme的資料
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.157279  0.487291  0.301661  0.572378
std    0.150007  0.361035  0.309075  0.264879
min    0.051527  0.037716  0.038989  0.316019
25%    0.084339  0.295404  0.043589  0.412105
50%    0.098927  0.519148  0.257118  0.521978
75%    0.171867  0.711035  0.515189  0.682251
max    0.379734  0.873150  0.653418  0.929538

In [12]:
frame.loc['a', 'A']

0.37973394488749224

In [30]:
#取前兩列之資料
frame.loc['a':'b', :]

          A         B         C         D
a  0.379734  0.037716  0.469112  0.599822
b  0.051527  0.656996  0.038989  0.929538

In [33]:
#取前兩欄之資料
frame.loc[:, 'A':'B']

          A         B
a  0.379734  0.037716
b  0.051527  0.656996
c  0.102578  0.873150
d  0.095277  0.381300

In [40]:
#取特殊列、欄的資料
print(frame.loc[['a','c'], :])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','c'], ['A','C']])

          A         B         C         D
a  0.379734  0.037716  0.469112  0.599822
c  0.102578  0.873150  0.653418  0.444134
          A         C
a  0.379734  0.469112
b  0.051527  0.038989
c  0.102578  0.653418
d  0.095277  0.045123
          A         C
a  0.379734  0.469112
c  0.102578  0.653418

In [41]:
#iloc是利用列索引與欄索引進行資料定位，都是從0開始
frame.iloc[0,0]

0.37973394488749224

In [42]:
#取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.379734  0.037716  0.469112  0.599822
b  0.051527  0.656996  0.038989  0.929538

In [43]:
#取前兩列和兩欄的資料
frame.iloc[0:2,0:2]

          A         B
a  0.379734  0.037716
b  0.051527  0.656996

In [46]:
#取特殊列、欄的資料
print(frame.iloc[[0,2], :])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,2], [0,2]])

          A         B         C         D
a  0.379734  0.037716  0.469112  0.599822
c  0.102578  0.873150  0.653418  0.444134
          A         C
a  0.379734  0.469112
b  0.051527  0.038989
c  0.102578  0.653418
d  0.095277  0.045123
          A         C
a  0.379734  0.469112
c  0.102578  0.653418